@using WorkifyApp.Constants
@using WorkifyApp.ViewModel
@using WorkifyApp.ViewModel.WorkItem
@model List<WorkItemListViewModel>
<div class="container">
    <div class="d-flex justify-content-between">
        <h3>Work Items List</h3>
        <button class="btn btn-success" onclick="location.href='@Url.Action("Add", "WorkItem")'">
            <i class="bi bi-plus-lg"></i>
            Add New work Item
        </button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        @{
                            var textBgColor = string.Empty;
                            var textToDisplay = string.Empty;

                            switch (item.Status)
                            {
                                case WorkItemStatus.ToDo:
                                    textBgColor = "text-bg-secondary";
                                    textToDisplay = "to do";
                                    break;
                                case WorkItemStatus.InProgress:
                                    textBgColor = "text-bg-primary";
                                    textToDisplay = "in progress";
                                    break;
                                case WorkItemStatus.Done:
                                    textBgColor = "text-bg-success";
                                    textToDisplay = "done";
                                    break;
                            }
                            <span class="badge @textBgColor">@textToDisplay</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-controller="WorkItem" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        @{
                            var deleteConfiramtionViewModel = new DeleteConfirmationViewModel
                            {
                                Id = item.Id,
                                ButtonStyleClass = "btn btn-success btn-sm",
                                IconButtonContent = false,
                                ButtonContent = "Delete",
                                Title = "Delete Confirmation",
                                Message = $"Are You Sure You Want To Delete {item.Title} Task",
                                Action = "Delete"
                            };
                        }
                        @await Html.PartialAsync("Partials/_DeleteConfirmationModal", deleteConfiramtionViewModel)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>