@using WorkifyApp.ViewModel
@model DeleteConfirmationViewModel
<!-- Button trigger modal -->
<button type="button" class="@Model.ButtonStyleClass" data-bs-toggle="modal" data-bs-target="#model-@Model.Id">
    @if (Model.IconButtonContent)
    {
        <i class="@Model.ButtonContent"></i>
    }
    else
    {
        @Model.ButtonContent
    }
</button>
<!-- Modal -->
<div class="modal fade" id="model-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="@Model.Action" asp-route-id="@Model.Id" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@Model.Title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   @Model.Message
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

